# ---- Gradle ----
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ---- Serenity ----
target/
automation/target/

# ---- IntelliJ IDEA ----
.idea/
*.iml
*.iws
*.ipr
out/

# ---- Sistema operativo ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log
